body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    }

.huge-container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.big-container2 {
    background-color: rgb(128, 0, 128);
    flex-direction: column;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.categoria-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    flex-wrap: wrap;
}


.dropdown-container {
    align-self: flex-end;
}

.dropdown-toggle {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 32px;
    padding: 5px 10px;
    border: 15px;
    color: black;
}

.dropdown-menu-custom li {
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.2 ease;
    border-top: 1px #58009b00;
    list-style-type: none;
}

.dropdown-menu-custom li:hover {
    background-color: antiquewhite;
    color: black;
}

.container-button-add {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
}

.button-add {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-icon {
    font-size: 24px;
}

.tabla-categorias {
    width: 90%;  
    margin: 20px auto; 
    border-collapse: collapse;
}